.profile {
  margin-top: 5%;
  margin-bottom: 2.5em;
}

.image-container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image-container .changePicture {
  position: relative;
  margin-top: -40%;
  overflow: hidden;
  width: 100%;
  font-size: 15px;
  background: #212529b8;
  padding: .25rem;
  border: none;
  border-radius: 0;
}

.image-container .changePicture input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}

.img-thumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.form-label {
  font-weight: 600;
}

.user-data .nav-tabs .nav-link {
  color: #fc5892;
}

.user-data .nav-tabs .nav-link:hover {
  color: #e6477f;
}

.user-data .nav-tabs .nav-link.active {
  color: #495057;
}

.form-button {
  color: #fff;
  background-color: #fc5892;
  border-color: #fc5892;
}

.form-button:hover {
  color: #fff;
  background-color: #e6477f;
  border-color: #e6477f;
}
