<div *ngIf="user && user.isAdmin">
  <app-users></app-users>
</div>
<div *ngIf="user && user.isHost && !user.isGuest">
  <app-accommodations></app-accommodations>
</div>
<div *ngIf="username == null || (user && user.isGuest)">
<img class="home-bg" src="https://picsum.photos/id/288/3888/2592"/>
<div class="container welcome">
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="card">

        <div class="card-body">
          <div class="card-title mb-4">
            <h2 style="font-size: 1.5rem; font-weight: bold">Welcome!</h2>
            <hr />
          </div>

          <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div class="form-row form-group">

              <ng-template #t let-date let-focused="focused" let-disabled="disabled">
                <span class="custom-day"
                      [class.text-muted]="disabled"
                      [class.focused]="focused"
                      [class.range]="isRange(date)"
                      [class.faded]="isHovered(date) || isInside(date)"
                      (mouseenter)="hoveredDate = date"
                      (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
              </ng-template>

              <div class="col-5">
                <label class="form-label">Location</label>
                <input type="text" class="form-control" name="input" value="{{value}}"
                       placeholder="Where are you going?" (input)="onChange($event)" />
                <div class="search-result">
                  <div *ngFor="let r of results" (click)="onResultClick(r)">
                    {{r.label}}
                  </div>
                </div>
              </div>
              <div class="col-2">
                <label class="form-label">Check in</label>
                <input class="col-12 form-control" ngbDatepicker (click)="datePicker1.toggle()" #datePicker1="ngbDatepicker" formControlName="checkin"
                       placeholder="yyyy-mm-dd" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [minDate]="minDate" [maxDate]="f.checkout.value">
              </div>
              <div class="col-2">
                <label class="form-label">Check out</label>
                <input class="col-12 form-control" ngbDatepicker (click)="datePicker2.toggle()" #datePicker2="ngbDatepicker" formControlName="checkout"
                       placeholder="yyyy-mm-dd" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [minDate]="f.checkin.value">
              </div>
              <div class="col-2 mr-2">
                <label class="form-label">Guests</label>
                <input type="number" min="1" formControlName="guests" class="form-control" placeholder="Add guests" />
              </div>

              <button type="submit" [disabled]="searchForm.invalid" class="search-button btn btn-lg"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </form>

          

        </div>

      </div>
    </div>
  </div>
</div>
</div>
