<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fa fa-plane fa-lg mr-2"></i>RENTAPLACE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nvbCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item text-center" *ngIf="user && user.isAdmin">
          <a class="nav-link" routerLink="/users">Users</a>
        </li>
        <li class="nav-item text-center" *ngIf="user && user.isHost && !user.isGuest">
          <a class="nav-link" routerLink="/accommodations">Accommodations</a>
        </li>
        <li class="nav-item text-center" *ngIf="user && user.isHost && !user.isGuest">
          <a class="nav-link" routerLink="/hostchats">Chats</a>
        </li>
        <li class="nav-item text-center" *ngIf="user && user.isHost && !user.isGuest">
          <a class="nav-link" routerLink="/hostreservations">Reservations</a>
        </li>
        <li class="nav-item text-center" *ngIf="user && user.isGuest && !user.isHost">
          <a class="nav-link" routerLink="/guestchats">Chats</a>
        </li>
        <li class="nav-item text-center" *ngIf="user && user.isGuest && !user.isHost">
          <a class="nav-link" routerLink="/guestreservations">Reservations</a>
        </li>
        <li class="nav-item dropdown">
          <div *ngIf="user && user.isHost && user.isGuest">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chats </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/hostchats">Host Chats</a>
              <a class="dropdown-item" routerLink="/guestchats">Guest Chats</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <div *ngIf="user && user.isHost && user.isGuest">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reservations </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/hostreservations">Host Reservations</a>
              <a class="dropdown-item" routerLink="/guestreservations">Guest Reservations</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <div *ngIf="loggedin">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user fa-fw mr-1"></i>{{username}} </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/settings">Settings</a>
              <a class="dropdown-item" (click)="logout()" href="/login">Logout</a>
            </div>
          </div>
          <div *ngIf="!loggedin">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user fa-fw mr-1"></i>Profile </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/login">Log in</a>
              <a class="dropdown-item" routerLink="/signup">Sign up</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
