.profile {
  margin-top: 5%;
  margin-bottom: 2.25em;
}

.image-container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.img-thumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.admin-button {
  height: 10%;
}

.user-data .nav-tabs .nav-link {
  color: #fc5892;
}

.user-data .nav-tabs .nav-link:hover {
  color: #e6477f;
}

.user-data .nav-tabs .nav-link.active {
  color: #495057;
}
