<div class="container reservations">
  <div *ngIf="user">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="card">

          <div class="card-body">
            <div class="card-title mb-4">
              <h2 style="font-size: 1.5rem; font-weight: bold">@{{user.username}} Reservations</h2>
              <hr />
            </div>

            <div *ngIf="message && successMessage" class="alert alert-success alert-dismissible fade show">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div *ngIf="message && !successMessage" class="alert alert-danger alert-dismissible fade show">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="d-flex justify-content-start">
              <div *ngIf="emptyReserves">No reservations!</div>
              <div *ngIf="!emptyReserves" class="col-12">
                <ngb-pagination
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [collectionSize]="reservations.length">
                </ngb-pagination>

                <table class="col-12" style="table-layout: fixed">
                  <tr *ngFor="let r of reservations | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="card-title">
                          <div class="d-flex justify-content-start">
                            <div class="image-container">
                              <img [src]="accommodationImages[i + (page-1) * pageSize]" class="img-thumbnail" />
                            </div>

                            <div class="col-9">
                              <a [routerLink]="['/accommodations', r.accommodation.id]"
                                 class="d-block accommodation-link mb-2">{{r.accommodation.info.name}}</a>
                              <h6 class="d-block mb-2"><span style="font-weight: 600">Checkin</span>:
                                {{r.startDate | date: 'mediumDate'}}</h6>
                              <h6 class="d-block mb-2"><span style="font-weight: 600">Checkout</span>:
                                {{r.endDate | date: 'mediumDate'}}</h6>
                              <h6 class="d-block mb-2"><span style="font-weight: 600">Total days</span>: {{r.days}}</h6>
                              <h6 class="d-block mb-2"><span style="font-weight: 600">Number of guests</span>: {{r.numPeople}}</h6>

                              <hr />
                              <div class="d-block mt-2 mb-2">
                                <h5 class="d-block mb-3" style="font-weight: 600">Review:</h5>
                                <form [formGroup]="reviewForms[i + (page-1) * pageSize]">
                                  <div class="form-row form-group">
                                    <div class="col-12 mb-3">
                                      <label class="form-label">Text</label>
                                      <textarea rows="4" cols="50" maxlength="250" formControlName="text" class="form-control"
                                                placeholder="Write your review here"></textarea>
                                      <div *ngIf="reviewForms[i + (page-1) * pageSize].controls.text.invalid &&
                                        reviewForms[i + (page-1) * pageSize].controls.text.touched" class="alert alert-danger">
                                        <div *ngIf="reviewForms[i + (page-1) * pageSize].controls.text.errors.required">Text is required</div>
                                      </div>
                                    </div>

                                    <div class="col-12">
                                      <label class="form-label mb-0">Rating</label>
                                      <div>
                                        <ng-template #t let-fill="fill">
                                        <span class="star" [class.full]="fill === 100">
                                          <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                        </span>
                                        </ng-template>
                                        <ngb-rating formControlName="rating" [starTemplate]="t" [max]="5"></ngb-rating>
                                      </div>
                                    </div>
                                  </div>
                                  <button type="submit" [disabled]="reviewForms[i].invalid" class="form-button btn btn-lg"
                                          style="float: right;" (click)="onSubmit(i)">Save</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </tr>
                </table>

                <ngb-pagination
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [collectionSize]="reservations.length">
                </ngb-pagination>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
